# Output
/target
/dist

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store

# OS
.DS_Store
Thumbs.db

# npm
node_modules
package-lock.json
pnpm-lock.yaml
yarn.lock
